@import "tailwindcss";

:root {
  --background: var(--color-warm-gray);
  --foreground: var(--color-stone-800);
}

@theme inline {
  --color-background: var(--color-warm-gray);
  --color-foreground: var(--foreground);
  --color-primary: #EA580C;
  --color-secondary: #0D9488;
  --color-warm-gray: #F5F5F4;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-quicksand);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}